.nav-icons{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 10px;
}
nav .navbar{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.nav-icons .btn .btn-default{
    width: 8px;
    height: 8px;
}
.nav-icons a {
    color: black;
    text-decoration: none;
    font-size: 12px;
}

.offcanvas-body ul li a{
    color: #fff;
}


.slideshow {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
 }
 
 .slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 100%; /* Initially, move slide below the viewport */
    left: 0;
    /* overflow: hidden; */
 }
 
 .slide img {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
 }
 
 .cards .nav-cards li a{
    color: rgb(36, 35, 35);
    font-size: 16px;
 }

 .row{
    row-gap: 40px;
 }

 footer{
    background-color: transparent
 }
footer .first .container .row{
    background-color: transparent;
}
.container .mb-4 {
    background-color: transparent;
}
 .follow-social-media .mb-4 span{
    text-align: right;
    bottom: 0;
   font-size: 12px;
}
.follow-social-media .mb-4 .social-media{
    align-items: center;
    font-size: 12px;
    /* padding-left: 70%; */
    /* display: flex;
    justify-content: space-between; */
    text-decoration: none;
    text-align: right;
/* padding-right: 5px; */
}
.follow-social-media .main-social-media {
   display: flex;
   direction: rtl;
   justify-content: space-between;
   text-align: right;
}

 .col-lg-3 .card{
    border: none;
    
 }
 
 .card-title {
  text-decoration: none;
 }
 .col-lg-3 {
    margin-bottom: 80px;
 }

 .col-lg-3 .card .card-img-top{
    width: 100%;
    height: 100%;
 }

 .col-lg-3 .card-body{
    text-align: center;
    margin: auto;
 }
.text-reset{
    text-decoration: none;

}

/* The Modal (background) */
#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100% ; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  #myModal.active{
    display: block !important;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    padding-left: 20px;
    margin: auto;
    padding: 0;
    border: none;
    text-align: left;
    width: 60%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .modal-content h5, span, span, p {
    /* padding-left: 25px; */
    padding-top: 5px;
  }
  .modal-content img{
    margin-left: 20px;
    width: 300px;
    height: 300px;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  #close {
    color: rgb(49, 49, 49);
    font-size: 30px;
    text-align: right;
    cursor: pointer;
    
  }
  
  #close:hover,
  #close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #fff;
    color: #000;
  }
  
  .modal-body {
    padding: 200px; 
}
/*   
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  } */

  .last-footer{
    display: flex;
    justify-content: space-between;
    /* text-align: start; */
     text-align: center; 
    font-size: 12px;
    color: #020202cc;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;

  }
  .last-footer .p1-footer{
    padding-right: 10%;
    text-align: left;
    /* padding-top: 8rem; */
  }
  .footer-p{
    
    /* padding-bottom: 5rem; */
    padding-right: 20px;
    text-align: right;
    color: #000;
    margin-right: 10px;
    /* padding: 20px; */
  }
  .last-footer i{
    text-align: right;
    padding-right: 15px;
    color: #0c0c0ce5;
    }
    .card-body .quick-look{
      text-decoration: none;
      color: #000;
    }

    .mySlides{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 400px;
    }

    .mySlides .slide-text{
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    .w3-content{
      text-align: center;
      display: flex;
      position: relative;
      height: 400px;
      padding: 0 30px;
    }
    .slide-text span{
      font-weight: bolder;
    }

    .mySlides .slide-image {
      width: 50%;
      height: 100%;
    }

    .mySlides .slide-image img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }


    body{
      padding-top: 105px;
    }

  
  
  .slide-line{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 9;
  }